html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    flex: 1;
    justify-content: space-evenly;
    margin: 0 5rem;
    font-size: xx-large;
    text-align: center;
}

.started {
    display: none;
}

.paused, .stopped {
    display: block;
}

.question-id {
    position: absolute;
    bottom: 0;
    left: 1rem;
}

#logo {
    max-height: 30vh;
    z-index: -1;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: .5;
}
