html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-size: xx-large;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 7rem;
    flex: 1;
}

.started {
    display: none;
}

.paused, .stopped {
    display: block;
}

.infos {
    position: absolute;
    bottom: 0;
    left: 1rem;
}

#logo {
    max-height: 30vh;
    z-index: -1;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: .5;
}

h6 {
    margin: 1rem;
}
