html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    flex: 1;
    justify-content: space-around;
    margin: 5rem;
    text-align: center;
}

#logo {
    max-width: 30vh;
    z-index: -1;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
