html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    flex: 1;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: space-around;
    flex: .5;
}

.actions button {
    font-size: xxx-large;
    flex: 1;
    margin: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-actions {
    display: flex;
    justify-content: space-evenly;
}
