html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    flex: 1;
    justify-content: space-between;
}

.started {
    display: none;
}

.paused, .stopped {
    display: flex;
}

.form-actions {
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;
}

.small-actions {
    display: flex;
    flex: .5;
}

.small-actions button {
    margin-right: 1rem;
}

.large-actions button {
    font-size: xxx-large;
    flex: 1;
    margin: 1rem;
}
